<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".activity.CropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Peer.Dialog"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>
